img {
    display: block;
}

.row {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 130%;
}
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
	display: block;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
	display: block;
}
  
@media screen and (max-width: 1200px) {
    .column {
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (max-width: 900px) {
    .column {
        flex: 66%;
        max-width: 66%;
    }
}
  
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}