body {
    background-color: #181a1b;
    color: #e8e6e3;
}

img {
    image-orientation: from-image;
}

/*Baground To Navigation Bar*/
.topbar {
    padding: 5px;
    text-align: center;
    top: 0px;
    right: 2px;
    left: 2px;
}

/*gets rid of the underline/blue → red link colour
 *also makes the button have a bit of space */

.homebtn a {
    color: #e8e6e3;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.notxtdec {
    text-decoration: none;
}

.normbtn {
    display: inline;
    padding: 0px;
    margin: 0px;
}

/*makes every dropdown menu look nice*/
.dropbtn, .homebtn{
	text-decoration: none;
    background-color: #202223;
    color: #e8e6e3;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
	font-family: serif;
    border: solid;
	border-color: #3c3c3c;
    margin-right: 5px;
}

/*keeps buttons in line*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*keeps the dropdown content hidden*/
.dropdown-content {
    display: none;
	position: absolute;
    background-color: #1c1e1f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9000000;
}

/*makes the selections look nice*/
.dropdown-content a {
    color: #e8e6e3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*changes the color of the selection th=o a darker colour*/
.dropdown-content a:hover {background-color: #2f3133;}

/*dispays the options when overing over the button*/
.dropdown:hover .dropdown-content {display: block;}
.dropdown span:after {content: '\00bb';}
.dropdown:hover .dropbtn, .homebtn:hover{background-color: #333537;}


.top {
    text-align: center;
    font-size: 24px;
}

.top, .top h1{
    margin-top: 10px;
    padding-top: 0px;
}



.contact {
	position: relative;
	bottom: 0px;
}